# Custom
sample-video.mp4
*.docx

# Ignore build and install folders
build/
install/
log/

# Ignore IDE and editor files
*.swp
*~
.project
.idea/
*.iml
.vscode/

# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
spyderproject/
.ropeproject/

# Ignore C/C++ artifacts
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.app
Debug/
Release/
*.dSYM/
*.su
*.idb
*.pdb
*.mod
*.ilk
*.map
*.exp
*.lib
*.ipch
*.obj
*.iobj
*.pch
*.pdb
*.ilk
*.res
*.sbr
*.tlb
*.tlog
*.vspscc
*.vssscc
*.user
*.userosscache
*.suo
*.ncb
*.opensdf
*.sdf
*.opt
*.plg
*.vdi
*.psess
*.vsp
*.vspx

# Ignore other files that should not be version-controlled
.DS_Store
Thumbs.db
